.places__image,
.plant__image,
.skills__image {
  min-width: 20%;
  max-width: 20%;
  height: 25%;
  box-shadow: 1.5vh 1.5vh 3vh rgba(0, 0, 0, 0.408);
}

.container {
  display: flex;
  width: auto;
  margin-top: 0;
  margin-right: 45%;
  align-self: right;
  margin-bottom: 5%;
  margin-top: 5%;
}

.standForTop {
  display: flex;
  justify-self: left;
  justify-content: left;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 15%;
  margin: 0%;
  width: 100%;
  color: black;
}

.standForList,
.standForLinkList {
  font-size: 1rem;
  text-align: left;
  text-justify: left;
  justify-content: left;
  width: 100%;
  color: black;
}

.standFor__text {
  font-family: "Rajdhani", sans-serif;
  margin-top: 0%;
  align-content: left;
  width: 100%;
  vertical-align: text-top;
}

.plant__image {
  float: left;
  margin-left: 7%;
  margin-right: 6%;
  margin-top: 1%;
  vertical-align: 50%;
  box-shadow: 2vh 2vh 5vh rgba(0, 0, 0, 0.504);
}

.standForContainer {
  margin-right: 40%;
  display: flex;
  width: auto;
  justify-content: left;
  margin-bottom: 5%;
  margin-top: 3%;
}

.standForLinkList,
.causeLink {
  display: flex;
  flex-direction: column;
  align-content: left;
  font-family: "Rajdhani", sans-serif;
  margin-top: 0%;
  width: 100%;
  vertical-align: text-top;
}

.causeLink {
  font-weight: 500;
  text-align: left;
  justify-content: left;
  margin-top: 0;
  margin-bottom: .1vh;
  text-decoration: none;
  color: #282c34;
  font-family: "Rajdhani", sans-serif;
}

.causeLink:visited {
  text-decoration: none;
  color: #282c34;
}

.causeLink:hover {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  transition: 0s;
  text-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.124);
  font-size: 1.02rem;
  font-weight: 800;
}

.causeLink:active {
  text-decoration: none;
  color: #282c34;
}

.skillsTop,
.placesTop {
  display: flex;
  justify-self: right;
  justify-content: right;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 15%;
  margin-right: 5%;
  margin: 0%;
  padding: 0%;
  width: 100%;
  color: black;
}

.skillsList,
.placesList {
  display: flex;
  align-content: right;
  font-size: 1rem;
  text-align: right;
  text-justify: right;
  width: 100%;
  color: black;
}

.skills__text,
.places__text {
  display: flex;
  flex-direction: column;
  justify-self: right;
  font-family: "Rajdhani", sans-serif;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 0%;
  align-content: right;
  vertical-align: text-top;
}

.skillsContainer,
.placesContainer {
  margin-left: 40%;
  display: flex;
  width: auto;
  justify-content: right;
  align-items: right;
  margin-top: 0;
  align-self: right;
  margin-bottom: 5%;
  margin-top: 3%;
}

.skillsList,
.placesList .skillsTop,
.placesTop {
  display: flex;
  width: auto;
  justify-content: right;
  align-items: right;
  margin-top: 0;
  align-self: right;
  margin-bottom: 5%;
  margin-top: 5%;
}

.skills__image,
.places__image {
  display: flex;
  align-self: right;
  float: right;
  margin-left: 6%;
  margin-right: 7%;
  margin-top: 1%;
  vertical-align: 50%;
  box-shadow: 2vh 2vh 5vh rgba(0, 0, 0, 0.504);
}

@media (max-device-width: 480px) {
  .mobileLists {
    margin-top: 10%;
  }

  .mobileLists,
  .placesContainer,
  .container,
  .standForContainer,
  .skillsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 0%;
    max-width: 100%;
    margin-right: 2%;
    margin-left: 2%;
  }

  .places__image,
  .plant__image,
  .skills__image {
    display: none;
  }

  .placesTop,
  .standForTop,
  .skillsTop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0%;
    margin-right: 0%;
    margin-left: 0%;
    color: black;
    margin-top: 0%;
    margin-bottom: 4%;
  }

  .skills__text > .skillsTop {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 0vh;
    margin-left: 0%;
    padding: 0%;
    width: 100%;
    color: black;
  }

  .places__text,
  .standFor__text,
  .skills__text,
  .placesList,
  .standForList,
  .skillsList,
  .causeLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    font-weight: 400;
    color: black;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .causeLink {
    font-weight: 600;
  }

  .standForLinkList {
    margin-left: 0;
  }
}
