.projectTitle,
.projectItemTitle,
.projectItem {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
}

h2,
.projectTitle {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 5%;
  padding-right: 2vh;
  padding-left: 2vh;
  margin-bottom: 2%;
}

.projectItemTitle {
  font-size: 1.1rem;
  font-weight: 590;
  margin-bottom: 1%;
}

.projectItem {
  font-size: 0.7rem;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 1rem;
}

.projectLink {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 6%;
  font-size: 1.25rem;
  text-decoration: none;
  color: #282c34;
  font-size: 1.3rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

.projectLink:visited {
  text-decoration: none;
  color: #282c34;
}

.projectLink:hover {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 1.32rem;
  transition: 0s;
}

.projectLink:active {
  text-decoration: none;
  color: #282c34;
}

@media (max-device-width: 480px) {
  .projectLink {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 4vh;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
  }

  .projectLink:hover {
    font-size: 20px;
  }

  .projectTitle {
    font-size: 24px;
    padding-top: 5vh;
    padding-bottom: 1vh;
    font-weight: 600;
    margin: 0;

  }
  .projectItemTitle {
    padding-top: 4vh;
    padding-bottom: 1vh;
    font-size: 20px;
    font-weight: 500;

  }

  .projectLink {
    padding-bottom: 8%;
    margin: 0;
  }
  .projectItem {
    font-size: 16px;
    padding-left: 8%;
    padding-right: 8%;
    margin: 0;
  }
}
