.bannerLinks {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 1.2%;
}

.bannerLinkItem {
  align-self: center;
  text-align: center;
  color: #282c34;
  font-size: 1.3rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  justify-content: center;
}

.bannerLinkItem:link {
  text-decoration: none;
}

.bannerLinkItem:visited {
  text-decoration: none;
  color: #282c34;
}

.bannerLinkItem:hover {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  transition: 0s;
}

.bannerLinkItem:active {
  text-decoration: none;
  color: #282c34;
}

@media (max-device-width: 480px) {
  .externalLinks {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 1.5vh;
    margin: 0;
  }

  .bannerLinkItem {
    padding-right: 2vh;
    padding-left: 2vh;
    font-size: 3.5vh;
    display: row;
    justify-content: center;
    margin: 0;
  }

  .bannerLinkItem:link {
    text-decoration: none;
    color: #282c34;
    font-size: 2.6vh;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
  }

  .bannerLinkItem:visited {
    text-decoration: none;
    color: #282c34;
  }

  .bannerLinkItem:hover {
    text-decoration: none;
    color: #000000;
    text-shadow: 0 0 0.4vh rgb(255, 255, 255);
  }

  .bannerLinkItem:active {
    text-decoration: none;
    color: #282c34;
  }
}
