/* Further refactoring is needed between this styles file and App.css */

.sayHi {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 4%;
  height: 50%;
  background-color: black;
  color: rgba(255, 255, 255, 0.919);
  display: flex;
  justify-content: center;
  align-self: center;
}

.thankYouText {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: 3%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.661);
  font-family: "Rajdhani", sans-serif;
}

.sayHiText {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 3%;
  font-size: 8rem;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.sayHiLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 7%;
  width: 100%;
  color: rgba(255, 255, 255, 0.756);
}

.sayHiLinks > a:hover {
  text-decoration: none;
  text-shadow: 0 0 0.4vh rgb(255, 255, 255);
}

.sayHiLinks > a:visited {
  color: rgba(255, 255, 255, 0.756);
}

.sayHiLinks > a:active {
  color: rgba(255, 255, 255, 0.756);
}

/* using ID as a CSS override here until further refactor of App.css */
#toTop {
  margin-right: 6%;
  margin-left: 11%;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.756);
  font-family: "Rajdhani", sans-serif;
}

#contactHi {
  margin-right: 13%;
  margin-left: 7%;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.756);
  font-family: "Rajdhani", sans-serif;
}

@media (max-device-width: 480px) {
  .sayHi {
    padding-bottom: 13vh;
  }

  .thankYouText {
    padding-top: 3vh;
  }

  .sayHiText {
    font-size: 4rem;
    padding-top: 8vh;
    padding-bottom: 0vh;
  }

  #toTop,
  #contactHi {
    padding: 7px;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(45, 45, 45);
    border: none;
    border-radius: 3px;
  }
}
