.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: rgb(219, 219, 219);
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.titleName, h1 {
  font-size: 3.6rem;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.bannerLinks {
  align-items: center;
  display: flex;
  justify-content: center;  
  padding-top: 3%;
  padding-bottom: 2%;
}

.linkedIn, .code, .contact, .music {
  margin-left: 4.5vh;
  margin-right: 4.5vh;
}


.mainImageDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  padding-top:1vh;
  background-color: black;
  box-shadow: 2vh 2vh 5vh rgba(0, 0, 0, 0.504);
}

.mainImageComputer, .mainImageRhoneFlute {
  /* height: 14rem; */
  width: 58%;
  vertical-align: auto;
}

.bioDiv {
  display: flex;
  justify-content: center;
  align-self: center;   
}

.downArrowDiv {
  display: flex;
  justify-content: center;
  padding-top: 12%;
}

.downArrowImage {
  width: 5%;
}

.bioText, p {
  display: flex;
  justify-content: center;  
  align-self: center;
  text-align: center;
  /* text-align: justify;
  text-justify: auto; */  
  width: 60%;
  font-size: 0.1rem;
  padding-top: 18%;
  padding-bottom: 15%;
}



/* glow keyframe animation below */

.container {
  display: flex;
  justify-content: center;
  margin-top: 12%;
  color: #fff;
  text-align: center; 
}

.glow {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
  
  text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0    40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
  
  text-shadow:  0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
