.appContainer {
  height: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

body, #root {
  background-color: rgb(210, 207, 207);
  max-height: 100%;
  max-width: 100%;
  scroll-margin-left: 0;
  scroll-margin-right: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
